{% extends "base.html" %}

{% block main %}
{% load bootstrap %}
{% load bootstrap_toolkit %}
	<h3>You can add your new type algorithm:</h3>
	<form enctype="multipart/form-data" method="post" action="/add_algorithm/">
		    {% csrf_token %}
		    {{ addform|bootstrap }}
		    <input type="submit" value="Add" class="btn btn-primary">
	</form>
	
	<h3>You have update those alogrithm:<br /></h3>
	{% for a in algorithms %}
    [Name: {{ a.name }}],[Status: {% ifequal a.status 0 %}Success{% endifequal%}{% ifequal a.status 1 %}Wrong{% endifequal%}{% ifequal a.status 2 %}Repeat{% endifequal%}{% ifequal a.status 3 %}Few{% endifequal%}],
    [Time: {{ a.time }} us], [Memory: {{ a.space }}K] <br />
	<form enctype="multipart/form-data" method="post" action="/udpate_algorithm/{{ a.index }}/">
		    {% csrf_token %}
		    {{ updateform|bootstrap }}
		    <input type="submit" value="Update">
	</form>
	<br />
	{% endfor %}
{% endblock %}
