{% extends "base.html" %}

{% block main %}
{% load bootstrap %}
{% load bootstrap_toolkit %}
<style type="text/css">
.form-signin {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 0 auto 20px;
    padding: 19px 29px 29px;
}
</style>
<div class="form-signin">
	<h3>You can set the length or type for show permutation:<br /></h3>
	<form method="post" action="/show/">
		{% csrf_token %}
		<div class="row">
		<div class="span4 offset1">
		{{ form.length|bootstrap }}
		</div>
         <div class="span4">
         {{ form.type|bootstrap }}
		</div>
		</div>
		
		<button type="submit" class="btn btn-primary" value="Set">Set</button>
	</form>
	</div>
	<div class="form-signin">
	<h3>This show algorithm page:<br /></h3>
	<form method='POST' action="/show/action/">
	{% csrf_token %}
	<div class="row">
		<div class="span4 offset1">
		{{ piform.permutation|bootstrap }}
		</div>
         <div class="span4">
         {{ piform.index|bootstrap }}
		</div>
		</div>
   
    <input type="submit" name="index_p" value="P2Index" class="btn btn-info">
    <input type="submit" name="permutation_p" value="Index2P" class="btn btn-info">
    <input type="submit" name="next_p" value="Next" class="btn btn-info">
    <input type="submit" name="pre_p" value="Previous" class="btn btn-info">
    </form>
    </div>
{% endblock %}
